<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e31273bf-0dae-4395-a8b5-33f801de7c65/resourcegroups/AZ-JHB-RSG-VCWCCT-ST10404539-TER/providers/Microsoft.Web/sites/AbcRetail20240827000909</ResourceId>
    <ResourceGroup>AZ-JHB-RSG-VCWCCT-ST10404539-TER</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://abcretail20240827000909.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>a83eb422-d8ef-45d7-b28d-f863777c034b</ProjectGuid>
    <PublishUrl>https://abcretail20240827000909.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AbcRetail20240827000909</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>